* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* Banner / Header part */
.banner-container {
  background: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  background-position: center;
  transform: scaleX(-1);
  /* flip the background with all content */
}
.banner {
  padding-left: 200px;
  padding-right: 800px;
  transform: scaleX(-1);
  /* so again flipped only contents of the part */
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  text-align: left;
  color: #151414;
  padding-top: 200px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: #444343;
  margin-top: 20px;
}
.btn-primary {
  background: #f15b22;
  border-radius: 5px;
  padding: 15px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 170px;
}
.btn-primary:hover {
  background-color: rgb(17, 124, 53);
  color: #f3f3f3;
}
/* failure list section */
.failure {
  display: flex;
  gap: 100px;
  margin-top: 150px;
  margin-left: 264px;
  margin-right: 270px;
  margin-bottom: 120px;
}
.failure-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  padding-bottom: 20px;
  margin-top: 300px;
}
/* plan list */
.plan {
  text-align: center;
  padding-bottom: 120px;
}
.plan-container {
  display: flex;
  gap: 90px;
  margin-top: 50px;
  margin-left: 250px;
}
.future-plan {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  padding-bottom: 20px;
}
.plan-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  margin-top: 25px;
}
.plan-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-top: 15px;
}

/* mindset section */
.mindset {
  border-radius: 10px;
  border: none;
  /* background-image: linear-gradient(
      90deg,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url("../images/watch.png"); */

  /* background image overlay */
  background-image: url("../images/gradient2.png"), url("../images/watch.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 1100px;
  margin-bottom: 130px;
  margin-left: 230px;
}
.mindset-container {
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 51px;
}
.mindset-title {
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin-bottom: 25px;
  /* padding-bottom: 20px; */
}
.mindset-btn {
  height: 50px;
  width: 150px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #f15b22;
  border-radius: 5px;
  border: none;
}
.mindset-btn:hover {
  background-color: rgb(17, 124, 53);
  color: #f3f3f3;
}

.contact-container {
  display: flex;
  gap: 300px;
  background-color: #151414;
  color: white;
  padding-left: 230px;
  padding-right: 230px;
  padding-top: 125px;
  padding-bottom: 100px;
}

.future-title {
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 20px;
}
.future-description {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
}
.future-title,
a {
  margin-right: 20px;
}
.subs-title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}
.email {
  background-color: #151414;
  color: #f3f3f3;
  border: 1px solid white;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.subs-btn {
  height: 50px;
  width: 150px;
  color: #f15b22;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
}
.subs-btn:hover {
  background-color: rgb(17, 124, 53);
  color: #f3f3f3;
}
